<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChromaCache</title>

        <!-- Icon made by Kyla Di Perna -->
        <link rel="shortcut icon" type="image/png" href="/img/logo-4.ico"/>

        <!-- Bootstrap Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Style Sheets -->
        <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>

        <!-- Java Script -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="/js/postdata.js"></script>
        
        
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div id= "home_button">
                
                <a class="navbar-brand" href="/">
                    <img src= "/img/logo-0.png" alt="logo" width="320" height="168"></img>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">

                            <div onclick = "clickDropdown()" class="dropdown">
                                <button class="dropbtn" style = "font-size: 32px">Find Palette</button>
                                <div class="dropdown-content">
                                    <a href="/" >Find by Google Search</a>
                                    <a href="colorsearch">Find by Color Code</a>
                                </div>
                            </div>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about" style="padding:16px;font-size: 32px">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact-us" style="padding:16px;font-size: 32px">Contact Us</a>
                        </li>
                    </ul>
                </div>

            
        </nav> 
        
            
        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            //functionality is for mobile users
            function clickDropdown() {
                document.getElementById("dropdown-content").classList.toggle("show");
            }
            
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>

        <div id = "search_bar" class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <h1 id="title" class="text-left" style = "padding-left:11%;font-size:80px;color: #ffffff;">FIND<b>PALETTE</b></h1>
                <form id="searchForm" class="text-center">
                    <input type="text" id="searchID" name="search" style = "padding-bottom: 3%;"class="form-control form-rounded text-center" autocomplete="off">
                    <button type="submit" id="searchSubmitID" class="btn btn-light">Search</button>
                </form>
            </div> 

            <div class="col-2">
            </div>
        </div>

        <!-- displaying the RGB after clicking the element-->
        <div>
            <h1 id = "RGB-output" class= "text-center" style="font-size: 30px; padding:0px"></h1>
        </div>

        <div id = "result_display" class="row">
            <div class="col-1">
            </div>

            <div class="col-10 text-center">
                <span id="resultPalette" class="text-center">
                </span>
            </div>

            <div class="col-1">
            </div>
        </div>

        <span>
            <fieldset id = "HarmField" style="background-color: #ffffff;">
                <legend id="HarmLegend" visible="true" style ="font-size:50px">Harmonies</legend>

                <div>
                        <!-- padding:up,right,down, left -->
                        <span style = "font-size: 40px; padding: 10px 397px 10px 100px;">Complementary</span>
                        <span style = "font-size: 40px;padding: 10px 0px 10px 150px;">Triadic</span>
                    </div>
                    <div>
                        <span id = harmony-0 style = "padding: 15px 479px 10px 100px;"></span>
                        <span id = harmony-1 style = "padding: 15px 0px 10px 150px;"></span>
                    </div>
    
    
                    <div>
                        <span style = "font-size: 40px; padding: 15px 490px 10px 100px;">Analogous</span>
                        <span style = "font-size: 40px; padding: 10px 0px 10px 150px;">Tetradic</span>
                    </div>
                    <div>
                        <span id = harmony-2 style = "padding: 15px 379px 10px 100px;"></span>
                        <span id = harmony-3 style = "padding: 15px 0px 10px 150px;"></span>
                    </div>
    
    
                    <div>
                        <span style = "font-size: 40px; padding: 15px 303px 10px 100px;">Split-Complementary</span>
                        <span style = "font-size: 40px; padding: 10px 0px 10px 150px;">Tint-Shade Map</span>
                    </div>
                    <div>
                        <span id = harmony-4 style = "padding: 15px 379px 10px 100px;"></span>
                        <span id = harmony-5 style = "padding: 15px 0px 10px 150px;"></span>
                    </div>
            </fieldset>
        </span>
        <div id = "frequently_searched" style = "background-color: #ffffff;" class= "row">
            <div class = "col-1">
            </div>
            <div class = "col-10" style = >
                    
                    <p style = "font-size: 55px;">FREQUENTLY<b style = "color:#FBB040;text-decoration: underline;">SEARCHED</b></p>
                    <span>
                        
                        <fieldset style = "margin-bottom: 35px;">
                            
                            <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink" style = "padding:0; margin:0;">
  
                                <polygon class="hex" points="120,60 90,111 30,111 0,60 30,9 90,9" style = "padding-right:20px;" ></polygon>
                                <polygon class="hex" points="120,60 90,111 30,111 0,60 30,9 90,9" style ></polygon>
                                <polygon class="hex" points="120,60 90,111 30,111 0,60 30,9 90,9" style ></polygon>

                            </svg>
                            <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink" style = "padding:0; margin:0;">
  
                                <polygon class="hex" points="120,60 90,111 30,111 0,60 30,9 90,9" style ></polygon>

                            </svg>
                            <svg id="color-fill" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink" style = "padding:0; margin:0;">
  
                                <polygon class="hex" points="120,60 90,111 30,111 0,60 30,9 90,9" style ></polygon>
    
                            </svg>
                            
                        </fieldset>

                        <fieldset style = "margin-bottom: 35px;">
                            <div></div>
                        </fieldset>

                        <fieldset style = "margin-bottom: 35px;">
                            <div></div>
                        </fieldset>
                    </span>
            </div>
            
            <div class = "col-1">
            </div> 
            
            <fieldset id = "FreqField" style="background-color: #ffffff;">
                <legend id="FreqField" visible="true" style ="font-size:50px">Frequently Searched</legend>

                <span>
                    <div id ="frequent-name-0"></div>
                    <div id="frequent-0" class="text-center"></div>
                    <div id = "frequent-name-1"></div>
                    <div id="frequent-1" class="text-center">
                    </div>
                    <div id = "frequent-name-2"></div>
                    <div id="frequent-2" class="text-center">
                    </div>
                    <div id = "frequent-name-3"></div>
                    <div id="frequent-3" class="text-center">
                    </div>
                    <div id = "frequent-name-4"></div>
                    <div id="frequent-4" class="text-center">
                    </div>
                </span>
                <span>
                    <div id = "frequent-name-5"></div>
                    <div id="frequent-5" class="text-center">
                    </div>
                    <div id = "frequent-name-6"></div>
                    <div id="frequent-6" class="text-center">
                    </div>
                    <div id = "frequent-name-7"></div>
                    <div id="frequent-7" class="text-center">
                    </div>
                    <div id = "frequent-name-8"></div>
                    <div id="frequent-8" class="text-center">
                    </div>
                    <div id = "frequent-name-9"></div>
                    <div id="frequent-9" class="text-center">
                    </div>
                </span>
                
            </fieldset>
        </div>
    </body>
    <hr> 
    <footer>
        
    </footer>
</html>
