<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ChromaCache</title>

        <!-- Icon made by FreePik from www.flaticon.com -->
        <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>

        <!-- Bootstrap Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Style Sheets -->
        <link href="https://fonts.googleapis.com/css?family=Raleway|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">

        <!-- Java Script -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script src="/js/postdata.js"></script>
        
        
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <a class="navbar-brand" href="/">ChromaCache</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">

                            <div onclick = "clickDropdown()" class="dropdown">
                                <button class="dropbtn">Find Palette</button>
                                <div class="dropdown-content">
                                    <a href="/">Find by Google Search</a>
                                    <a href="colorsearch">Find by Color Code</a>
                                </div>
                            </div>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about" style="padding:16px">About</a>
                        </li>
                    </ul>
                </div>

            
        </nav> 
        
            
        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            //functionality is for mobile users
            function clickDropdown() {
                document.getElementById("dropdown-content").classList.toggle("show");
            }
            
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>

        <div class="row">
            <div class="col-2">
            </div>

            <div class="col-8">
                <h1 id="title" class="text-center">Find a Palette</h1>
                <form id="searchForm" class="text-center">
                    <input type="text" id="searchID" name="search" class="form-control form-rounded text-center" placeholder="Search for a style..." autocomplete="off">
                    <button type="submit" id="searchSubmitID" class="btn btn-light">Search</button>
                </form>
            </div> 

            <div class="col-2">
            </div>
        </div>

        <!-- displaying the RGB after clicking the element-->
        <div>
            <h1 id = "RGB-output" class= "text-center" style="font-size: 30px; padding:0px"></h1>
        </div>

        <div class="row">
            <div class="col-1">
            </div>

            <div class="col-10 text-center">
                <span id="resultPalette" class="text-center">
                </span>
            </div>

            <div class="col-1">
            </div>
        </div>

        <div>
            <fieldset id = "HarmField">
                <legend id="HarmLegend" visible="true" >Harmonies</legend>
                <p style="padding: 10px 438px 10px 75px;float: left;">Complementary</p>
                <div id = harmony-0></div>
                <P style="padding: 10px 10px 10px 0px;">Triadic</P>
                <div id = harmony-1></div>
                <p style="padding: 10px 475px 10px 75px;float: left;">Analogous</p>
                <div id = harmony-2></div>
                <p style="padding: 10px 10px 10px 0px;">Tetradic</p>
                <div id = harmony-3></div>
                <p style="padding: 10px 400px 10px 75px;float: left;">Split-Complementary</p>
                <div id = harmony-4></div>
                <p style="padding: 10px 10px 10px 0px;">Tint-Shade Map</p>
                <div id = harmony-5></div>
            </fieldset>
        </div>
        <div>
            <fieldset id = "FreqField">
                <legend id="FreqField" visible="true" >Frequently Searched</legend>

                <!-- need to make a click event for auto-search the frequent -->
                <span>
                    <div id = "frequent-name-0"></div>
                    <div id="frequent-0" class="text-center">
                    </div>
                    <div id = "frequent-name-2"></div>
                    <div id="frequent-2" class="text-center">
                    </div>
                    <div id = "frequent-name-4"></div>
                    <div id="frequent-4" class="text-center">
                    </div>
                    <div id = "frequent-name-6"></div>
                    <div id="frequent-6" class="text-center">
                    </div>
                    <div id = "frequent-name-8"></div>
                    <div id="frequent-8" class="text-center">
                    </div>
                </span>
                <span>
                    <div id = "frequent-name-1"></div>
                    <div id="frequent-1" class="text-center">
                    </div>
                    <div id = "frequent-name-3"></div>
                    <div id="frequent-3" class="text-center">
                    </div>
                    <div id = "frequent-name-5"></div>
                    <div id="frequent-5" class="text-center">
                    </div>
                    <div id = "frequent-name-7"></div>
                    <div id="frequent-7" class="text-center">
                    </div>
                    <div id = "frequent-name-9"></div>
                    <div id="frequent-9" class="text-center">
                    </div>
                </span>
                
            </fieldset>
        </div>
    </body>
</html>
