
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap');
/*H1  32px     
H2  24px
H3  18px    
H4  16px
H5  13px
H6  10px
*/

html{
  scroll-behavior: smooth;
}
body
{
    background-color: #FBB040;
    font-family: 'Roboto Condensed', sans-serif;
    color: #58595B;
}

nav
{
    font-family: 'ROBOTO CONDENSED';
    padding: 0px;
}



.row
{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: 0px;
    margin-left: 0px;
}
.text-center {
  text-align: center!important;
  padding-top: 2%;
  font-size:35px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  position:relative;
}
.btn
{
  text-align: right;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.24);
}

.paletteElement
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.24);
}

.paletteElement:hover
{
    cursor: pointer;
}

#searchID
{
    /*margin-top: 32px;*/
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 12px;

    /*box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.24); */
}

#loadingMessage
{
    -webkit-animation: breathing 4s ease-out infinite normal;
    animation: breathing 4s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/*
#searchSubmitID, #searchSubmitID:active, #searchSubmitID:focus
{
    background-color: #62C370;
    border-color: #62C370;
}

#resultPalette
{
    width: 100%;

    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.24);
}
*/

/*
* -----------------
* Drop-down bar css
* -----------------
*/
.dropbtn {
    background-color: transparent;
    color: rgba(0,0,0,.5);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    color: #555555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    font-size:24px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
    
}

.dropdown:hover {color: #ddd;}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgba(139, 139, 139, 0.164);}

.show {display: block;}
/*
* -----------------
* Drop-down bar css
* -----------------
*/


/*
* -----------------
* Harmonies/Frequency container
* -----------------
*/
fieldset legend {
  display: block;
  margin-left: 20px;
  width:auto; 
  font-size: 27px;
  font-weight: bold; 
  color:black;
  padding: 2px;
}
/* fieldset {
  border: 1px solid black; 
  border-color: black; 
  border-radius: 4px; 
  padding:16px; 
  margin: 90px;
} */

fieldset{
  /* subject to change when palette loads */
  
  margin : 0px;
  border: 2px solid #80808075;
  /* border-color: grey; */
  border-radius: 50px;
  /* x, y offset, blur, spread */
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.16);
}
.hexagon{
  width: 100px;
  height: 100px;
  background: #000000;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.hexagon:before,
.hexagon:after{
  content: ' ';
  width: 100%;
  height: 100%;
  background: #000000;
  position: absolute;
}

.hexagon:before{
  transform: rotate(60deg);
}
.hexagon::after{
  transform: rotate(-60deg);
}